html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1a1c1e;
    color: white;
    text-align: center;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
}

canvas {
    position: fixed;
}


h1 {
    position: absolute;
    margin-bottom: 82vh;
}


/* Main*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    max-height: 65%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:not(#main-menu li, #social-medias li){
    background-color: #1a1c1e;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
}


#social-medias {
    display: flex;
    justify-content: center;
    z-index: 1;
}

#social-medias li {
    display: inline;
}

#social-medias a {
    text-decoration: none;
}

#social-medias img {
    width: 40px;
    margin: 15px;
}

/* Buttons */
button, #send-btn {
    display: inline-block;
    background-color: rgba(70, 70, 70, .8);
    width: 325px;
    height: 50px;
    color: white;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    margin: 2px;
    border: none;
    transition-duration: .3s;
    z-index: 1;
}

#send-btn {
    width: 250px;
}

div:not(#main-menu, #social-medias) {
    border-radius: 25px;
    background-color: rgba(60, 60, 60, .8);
    padding: 5px 35px 20px 35px;
    height: 100%;
    overflow-y: auto;
    width: 75vw;
    max-width: 750px;
    opacity: 0;
    z-index: 1;
}

#main-menu {
    border-radius: 25px;
}

button span {
    position: relative;
    transition: .3s;
}

button span:after {
    content:"\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .3s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

button:hover, #send-btn:hover {
    background-color: #666666;
    cursor: pointer;
}

button:active {
    background-color: #333333;
}


/* Divisions */

h2 {
    margin-bottom: 20px;
}


h3 {
    margin-top: 10px;
}

#about-div p {
    text-align: justify;
    text-justify: auto;
}

#projects-div a {
    color: #8888ff;
}


/* Scrollbar */

::-webkit-scrollbar {
    display: block;
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 0;
}
 
::-webkit-scrollbar-thumb {
    background: #201920; 
    border-radius: 10px;
}

/* Go back button */

#go-back-btn {
    display: none;
    width: 150px;
}

#go-back-btn span:after {
    content:"\00ab";
    left: -80px;
    right: 0;
}

#go-back-btn:hover span {
    padding-left: 25px;
    padding-right: 0;
}

#go-back-btn:hover span:after {
    left: 0;
    right: 90px;
}


/* Input fields */

input, textarea {
    width: 250px;
    background-color: rgba(70, 70, 70, .8);
    border: none;
    border-radius: 12px;
    padding: 15px;
    color: white;
}

textarea {
    width: 90%;
    min-width: 250px;
    height: 10vh;
    resize: none;
}

@media screen and (max-height: 525px) {
     #main-menu button {
        height: 35px;
    }
}
